<header class="flex justify-center items-center py-5 xs:w-full xl:w-[1120px] mx-auto">
    <nav class="flex flex-row gap-x-3 ml-3 sm:ml-0 sm:gap-x-10 opacity-80">
        <a href="#top">Inicio</a>
        <a href="#sobre-mi">Sobre Mi</a>
        <a href="#experiencia">Experiencia</a>
        <a href="#proyectos">Proyectos</a>
    </nav>
</header>